<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Informe Seus Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-button id="present-alert">Informe seus dados</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Adicione seus dados"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>
  <p *ngIf="emailText"><b>Email: </b> {{emailText}}</p>
  <p *ngIf="telefoneText"><b>Telefone: </b> {{telefoneText}}</p>
</ion-content>
